@model (WebApp.Models.WebContent.PageTemplate, WebApp.Models.WebContent.Page)
@{
    WebApp.Models.WebContent.PageTemplate pageTemplate = this.Model.Item1;
    WebApp.Models.WebContent.Page page = this.Model.Item2;
}
<!DOCTYPE html>
<html lang="@pageTemplate.Metadata.Language">
<head>
    <meta charset="@pageTemplate.Metadata.CharSet" />
    <meta name="viewport" content="@pageTemplate.Metadata.Viewport" />
    <meta name="theme-color" content="#@pageTemplate.Theme.ColorPrimary" />
    <title>@(page.Metadata.Title) - @pageTemplate.Profile!.Name</title>
    <link rel="stylesheet" href="~/css/default.min.css" asp-append-version="true" />
    <script>
    </script>
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
                <a asp-area="" asp-controller="Home" asp-action="Elements">Elements</a>
                @*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                </ul>
                <partial name="_LoginPartial" />
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container">
            &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/default.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
